/*
 Description:  Feuille de style du projet 2 OpenClassrooms
 Author:       Robin Charles
 Version:      0.1
*/

/* les éléments titres sont en thin semi bold et le le texte en thin regular, il faut supprimer ce thin... */
/* est-ce que le titre h1, le champs de recherche et les boutons filtres ont la même taille ? */

body {
    font-family: "Raleway", sans-serif;
}

h1 {
    margin-bottom: -10px;
}


/* NAV 
*/
#top {
    display:flex;
}

ul {
    list-style-type: none;
}



/* RECHERCHE 
*/

#position-icon {
    background: #f2f2f2;
    padding:10px 15px;
    border-radius:10px 0 0 10px;
    -moz-border-radius:10px 0 0 10px;
    -webkit-border-radius:10px 0 0 10px;
    -o-border-radius:10px 0 0 10px;
    border:0 none;
    margin-right:-4px;
}

#search-input {
    background: #fff;
    padding:10px;
    border-radius:0px 0 0 0px;
    -moz-border-radius:0px 0 0 0px;
    -webkit-border-radius:0px 0 0 0px;
    -o-border-radius:0px 0 0 0px;
    /*border:0 none;*/
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-left: none;
    border-right: none;
    width:160px;
    font-weight:bold;
}
     
#search-button {
    background:#0065ff;
    color:white;
    font: 'Raleway';
    padding:10px 20px;
    border-radius:0 10px 10px 0;
    -moz-border-radius:0 10px 10px 0;
    -webkit-border-radius:0 10px 10px 0;
    -o-border-radius:0 10px 10px 0;
    border:0 none;
    font-weight:bold;
    margin-left:-4px;
}
  
/* essai de bouton recherche en flex */
.container-search {
    display: flex;
}

.container-search input[type="text"] {
      flex: 1 1 auto;
}



/* Icône avertissement "plus de 500 logements..."
*/

.fa-stack { 
    font-size: 0.8em; 
}
.fa-stack i { 
    vertical-align: middle; 
}
.fa-circle {
    color: #f2f2f2;
}
.fa-info {
    color: #0065ff;
}



/* FILTRES 
attention, les boutons n'héritent pas de la police ...
*/






/* VIGNETTES
*/

.container {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    /* Your container needs a fixed height, and it 
     * needs to be taller than your tallest column. */
    height: 500px;
    
    /* Optional */
    background-color: #f7f7f7;
    border-radius: 3px;
    padding: 20px;
    width: 100%;
    margin: 40px auto;
    counter-reset: items;
  }
  
  .item {
    width: 24%;
    /* Optional */
    position: relative;
    margin-bottom: 2%;
    border-radius: 3px;
    background-color: #a1cbfa;
    border: 1px solid #4290e2;
    box-shadow: 0 2px 2px rgba(0,90,250,0.05),
      0 4px 4px rgba(0,90,250,0.05),
      0 8px 8px rgba(0,90,250,0.05),
      0 16px 16px rgba(0,90,250,0.05);
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
  }
  
   /* Just to print out numbers */
  div.item::before {
    counter-increment: items;
    content: counter(items);
  }
  
  /* Re-order items into 4 rows */
  .item:nth-of-type(4n+1) { order: 1; }
  .item:nth-of-type(4n+2) { order: 2; }
  .item:nth-of-type(4n+3) { order: 3; }
  .item:nth-of-type(4n+4) { order: 4; }
  .item:nth-of-type(4n+5) { order: 5; }
  .item:nth-of-type(4n) { order: 6; }
  
  /* Force new columns */
  .break {
    flex-basis: 100%;
    width: 0;
    border: 1px solid #ddd;
    margin: 0;
    content: "";
    padding: 0;
  }
  
 



/* FOOTER 
*/

#footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: flex-start;
}
.footer-bloc {
    margin: 20px 30px;  
}
.footer-bloc:nth-child(1) {
    flex: 1;
}
.footer-bloc:nth-child(2) {
    flex: 1;
}
.footer-bloc:nth-child(3) {
    flex: 1;
}