/*
 Description:  projet 2 OpenClassrooms - cursus Développeur web
 Author:       Robin Charles
 Version:      0.5
*/

/* couleurs par défaut :
    bleu #0065fc
    bleu plus claire #deebff
    gris pour le fond #f2f2f2
*/

/* les dimensions :
en rem (1rem = 16px par défaut),
en em (fonctionne par héritage),
en vw (par rapport à la taille du viewport)
ou en px (quand il faut un espace précis)
https://www.google.fr/search?q=rem+ou+pixel
https://grafikart.fr/tutoriels/font-size-rem-em-px-477
*/

/* Accessibilité :
- quand et pourquoi utiliser les attributs aria pour les lecteurs d'écran
    https://www.lalutineduweb.fr/alternatives-textuelles-attributs-aria/
- notamment pour cacher les icones des balises <i>
    https://paris.wordcamp.org/2019/files/2019/04/ARIA_pour_l_accessibilite_quand_et_comment_l_utiliser.pdf
*/

/* conventions de nommage à appliquer, BEM ou OOCSS : quesaco ?
    https://www.alsacreations.com/article/lire/1641-Bonnes-pratiques-en-CSS--BEM-et-OOCSS.html
*/




/* CONTENU, POLICES, TITRES, SLOGAN
*/

html {
    margin: 0; /* reset (par defaut des navigateurs)*/
    padding: 0; /* reset (par defaut des navigateurs)*/
}

body {
    font-family: "Raleway", sans-serif;
    margin: 0; /* reset (par defaut des navigateurs)*/
    padding: 0; /* reset (par defaut des navigateurs)*/
}

/* toute la page sauf le footer */
#contenu {
    max-width: 1350px; /* 1440px : largeur de l'image de la capture écran du projet */
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

h1, h2, h3 {
    /* 500 ou 400 => trop fin, et toujours en Thin... */
    font-weight: 500;
    font-weight: bold;
}


/* HEADER */

.logo-et-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem 0 1rem;
}

header nav ul {
    margin-top: 0px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

nav a {
    text-decoration: none;
    font-weight: 500;
    margin-left: 15px;
    margin-right: 15px;
}

nav a:hover {
    color: #0065fc;
}

.menu-double {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
}

.nav-hebergement {
    text-align: center;
    border-top: 3px solid #0065FC;
    border-bottom: 0px solid #0065FC;
    padding: 20px;
}

.nav-activite {
    text-align: center;
    padding: 22px;
}

.nav-sincrire {
    text-align: center;
    padding: 22px;
}

.slogan {
    margin: 0 1rem 0 1rem;
}

.slogan h1 {
    margin-bottom: -10px;
}


/* RECHERCHE */

.recherche-et-filtres {
    margin: 0 1rem 0 1rem;
}

.recherche {
    margin-top: 30px;
    margin-bottom: 30px;
    display:inline;
}

.recherche-icone {
    background: #f2f2f2;
    padding:15px 15px;
    border-radius:10px 0 0 10px;
    border:0 none;
    margin-right:-4px;
}

.recherche-texte {
    background: #fff;
    padding:15px;
    border-radius:0px 0 0 0px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-left: none;
    border-right: none;
    width:15vw;
    font-size: 1em;
}

.recherche-bouton {
    background:#0065ff;
    color:white;
    font-family: "Raleway"; /* si on utilise body, on "fixe" la police */
    padding:0px 20px;
    border-radius:0 10px 10px 0;
    border:0 none;
    font-weight: bold;
    font-size: 1em;
    margin-left: -4px;
}

p.texte-bouton-icone {
    display: none;
}


/* AVERTISSEMENT
"plus de 500 logements..."
la version d'icône cerclée et grisée est réservée aux comptes Awesome Pro
*/

.avertissement {
    margin-top: 0px;
    margin-bottom: 20px;
}

.fa-stack {
    font-size: 0.8em;
}
.fa-stack i {
    vertical-align: middle;
}
.fa-circle {
    color: #f2f2f2;
}
.fa-info {
    color: #0065ff;
}


/* FILTRES */

.filtres {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
    align-items: center;
}

.titre-filtres {
    margin: 0 2rem 1rem 0;
}

.bouton-filtre {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer; 
    font-weight: bold;
}

.bouton-filtre:hover {
    background-color: #0065ff;
    color: white;
}

.bouton-filtre-icone {
    background-color: #deebff; /* bleu plus clair */
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    color: #0065ff;
}

.bouton-filtre-texte {
    margin: 0 1rem;
}



/* HEBERGEMENTS */

#hebergements-et-populaires {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.hebergements-marseille {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    border-radius: 20px;
    padding: 15px 36px 0px 36px; 
    max-width: 60%;
    width: 60%;
}

.vignettes-hebergements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.box-hebergements {
    box-shadow: 0 0 20px #0000002e;
    border: 3px solid white;
    border-radius: 20px;
    padding: 5px 5px 10px 5px;
    background-color: white;
    margin-bottom: 32px;
}

.photo-hebergements {
    object-fit: cover;
    width: 236px;
    height: 112px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box-hebergements-figure {
    margin: 0;
}

.box-hebergements-titre {
    margin: 0.25rem 0.75rem 0 0.75rem;
}

.box-hebergements-details {
    margin: 0.25rem 0.75rem 0.25rem 0.75rem;
}

.box-hebergements-etoiles {
    margin: 0 0.75rem 0.25rem 0.75rem
}

.box-lien {
    text-decoration: none;
    color: black;
}


/* POPULAIRES */

.populaires {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 15px 22px 15px 22px;
    max-width: 28%;
    width: 28%;
}

.populaires-titre {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.vignettes-populaires {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.box-populaires {
    border: 3px solid white;
    border-radius: 20px;
    background-color: white;
    padding: 6px 66px 6px 6px; 
    max-width: 80%;
    margin-bottom: 29px;;
}

.box-populaires a {
    display: flex;
    color: black;
    text-decoration: none;
}

.img-popular {
    width: 50%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    border-radius: 10px 0 0 10px;
}

.img-popular-1 {
    background-image: url('../img/populaires/hotel-le-soleil-du-matin.jpg')
}

.img-popular-2 {
    background-image: url('../img/populaires/chambre-d-hotes-au-coeur-de-l-eau.jpg')
}
.img-popular-3 {
    background-image: url('../img/populaires/hotel-tout-bleu-et-blanc.jpg')
}

.box-populaires-contenu {
    width: 70%;
    padding: 0; 
    display: flex;
    flex-direction: column;
}

.box-populaires-etoiles {
    margin: 0 0.75rem 0.25rem 0.75rem; /* améliorer le rem, enlever margin-top */
    margin-top: 2rem; /* 30px */
}

.photo-populaires {
    width: 125px;
    height: 133px; 
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.box-populaires-titre {
    margin: 0.25rem 0 0 0.75rem;
}

.box-populaires-details {
    margin: 0.25rem 0 0.25rem 0.75rem;
}

.box-populaires-espace {
    flex: 1;
}

/* data-value pour les étoiles
voir https://css-tricks.com/almanac/selectors/a/attribute/
*/
.etoile[data-value="true"] {
  color: #0065FC;
}
.etoile[data-value="false"] {
  color: #d9d9d9;
}



/* ACTIVITÉS */

#activites-a-marseille {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.vignettes-activites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-activites {
    box-shadow: 0 0 20px #0000002e;
    padding: 0px 0px 0px 0px;
    border-radius: 20px;
    margin: 0px 0px 45px 0px;
}

.photo-activites {
    padding: 0;
}

.sous-titre-activites {
    padding-left: 15px;
}

.photo-activites-1, .photo-activites-2, .photo-activites-3, .photo-activites-4, .photo-activites-5, .photo-activites-6 {
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.photo-activites-1, .photo-activites-4 {
    width: 301px;
    height: 410px;
}

.activites-2-et-3, .activites-5-et-6 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.photo-activites-2 {
    width: 304px;
    height: 183px;
}

.photo-activites-3 {
    width: 304px;
    height: 122px;
}

.photo-activites-5 {
    width: 304px;
    height: 141px;
}

.photo-activites-6 {
    width: 304px;
    height: 165px;
}


/* FOOTER */

footer {
    background-color: #F2F2F2;
    width: 100%;
}

.footer-colonne {
    display: flex;
    max-width: 100%;
    width: 1440px;
    margin: auto;
    padding: 0 0rem;
    box-sizing: border-box;
}

.footer-colonne-largeur {
    width: 30%;
    padding: 2rem 2rem;
}

.footer-liens {
    display: block;
    margin: 1rem 0;
    text-decoration: none;
    color: black;
}

.footer-liens:hover {
    text-decoration: none;
}



/************* RESPONSIVE **************/

/* breakpoint inspirés de https://tailwindcss.com/docs/breakpoints */

/* petits smartphones 
*/

@media screen and (max-width: 768px) {

    .logo-et-nav {
        margin: 1rem;
    }
    
    .slogan {
        margin: 0 1rem 0 1rem;
    }

    .header-menu {
        padding: 0;
        padding-bottom: 0px;
        position: relative;
        padding-bottom: 70px;
    }

    .menu-double {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
    }

    .nav-hebergement {
        text-align: center;
        border-top: 0px solid #ffffff;
        border-bottom: 3px solid #0065FC;
        padding: 0 0 20px 0;
        width: 50%;
    }

    .nav-activite {
        text-align: center;
        border-bottom: 3px solid #f2f2f2;
        padding: 0 0 20px 0;
        width: 50%;
    }

    .nav-sincrire {
        position: absolute;
        top: 22px;
        right: 5px;
        padding:0;
    }
    
    .recherche-et-filtres {
        margin: 1rem;
    }

    .titre-filtres {
        width: 100%;
    }
    
    .recherche-texte {
        width:40vw;
    }

    p.texte-bouton {
        display: none;
    }

    p.texte-bouton-icone {
        display: inline-block;
    }

    .hebergements-marseille {
        order: 2;
        max-width: 100%;
        width: 100%;
        background-color: white;
    }

    .box-hebergements {
        max-width: 100%;
        width: 100%;
    }

    .photo-hebergements {
        width: 100%;
    }

    .populaires {
        order: 1;
        border-radius: 0;
        max-width: 100%;
        width: 100%;
    }

    .img-popular {
        width: 35%;
        max-height: 135px;
    }

    .box-populaires-etoiles {
        margin-top: 1rem;
    }

    #activites-a-marseille {
        width: 90%;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .photo-activites-1, .photo-activites-2, .photo-activites-3, .photo-activites-4, .photo-activites-5, .photo-activites-6 {
    /* activités : les images ont la même hauteur... */
        height: 120px;
        width: 90vw;
    }

    .footer-colonne {
      flex-direction: column;
      padding: 2rem;
    }

    .footer-colonne-largeur {
      width: 100%;
      padding: 0;
      margin: 1rem 0;
    }

    .footer-colonne-largeur:first-child {
      margin-top: 0;
    }
    
    .footer-colonne-largeur:last-child {
      margin-bottom: 0;
    }
  }


/* smartphones plus grands et tablettes
*/
@media screen and (min-width:769px) and (max-device-width: 1023px) {

    .logo-et-nav {
        margin: 0 1rem 0 1rem;
    }
    
    .slogan {
        margin: 0 1rem 0 1rem;
    }
    
    .recherche-et-filtres {
        margin: 0 1rem 0 1rem;
    }

    .recherche-texte {
        width:50vw;
    }

    .hebergements-marseille {
        order: 2;
        max-width: 100%;
        width: 100%;
        background-color: white; /* fond devient blanc sur tablette ? */
        border-radius: 0;
    }

    .box-hebergements {
        max-width: 45%;
    }
    
    .hebergements-marseille .vignettes-hebergements {
        width: 90%;
        
    }

    .populaires {
        order: 1;
        max-width: 100%;
        width: 100%;
        border-radius: 0;
    }

    .img-popular {
        width: 25%;
    }

    .box-populaires-etoiles {
        margin-top: 1rem;
    }

    #activites-a-marseille {
        width: 90%;
        margin: 2rem;
    }

    .vignettes-activites {
        justify-content: space-around;
    }
}


/* mobiles plus grands et tablettes

selon tailwind :
min-width:1280px 
min-width:1536px 

ici :
1355px pour se caler sur la largeur la page
*/
@media screen and (min-width:1024px) and (max-device-width: 1355px) {
    
    .logo-et-nav {
        margin: 0 1rem 0 1rem;
    }
    
    .slogan {
        margin: 0 1rem 0 1rem;
    }
    
    .recherche-et-filtres {
        margin: 0 1rem 0 1rem;
    }

    .recherche-texte {
        width:50vw;
    }

    .hebergements-marseille {
        order: 2;
        max-width: 100%;
        width: 100%;
        background-color: white; /* fond devient blanc sur tablette ? */
        border-radius: 0;
    }

    .box-hebergements {
        max-width: 45%;
    }
    
    .hebergements-marseille .vignettes-hebergements {
        width: 90%;
        
    }

    .populaires {
        order: 1;
        max-width: 100%;
        width: 100%;
        border-radius: 0;
    }

    .img-popular {
        width: 25%;
    }

    .box-populaires-etoiles {
        margin-top: 1rem;
    }

    #activites-a-marseille {
        width: 90%;
        margin: 2rem;
    }

    .vignettes-activites {
        justify-content: space-around;
    }
}