/*
 Description:  Feuille de style du projet 2 OpenClassrooms
 Author:       Robin Charles
 Version:      0.2
*/

/* notes pour la police :
- les éléments titres sont en thin regular, il faut se passer de ce thin...
- il semble que le titre h1, le champs de recherche et les boutons filtres aient la même taille...
- les boutons n'héritent pas automatiquement de la police, c'est la police système qui est utilisée par défaut...
*/

/* note pour les padding : 
en rem ou en px ? 
*/

* {
    font-family: "Raleway", "Sans serif";
}

/* TOP */


/* NAV */

#top {
    display:flex;
}

/* HEADER */

header h1 {
    margin-bottom: -10px;
}


/* RECHERCHE 

-moz-border-radius pose problème dans la console : propriété inconnue...
utilité de ce code ? : 
    -moz-border-radius:10px 0 0 10px;
    -webkit-border-radius:10px 0 0 10px;
    -o-border-radius:10px 0 0 10px;
*/

#recherche {
    margin-top: 30px;
    margin-bottom: 30px;
}

#recherche-icone {
    background: #f2f2f2;
    padding:15px 15px;
    border-radius:10px 0 0 10px;
    border:0 none;
    margin-right:-4px;
}

#recherche-texte {
    background: #fff;
    padding:15px;
    border-radius:0px 0 0 0px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-left: none;
    border-right: none;
    width:160px;
    /*font-size: 0.8em;*/
    font-weight: bold;
}

#recherche-bouton {
    background:#0065ff;
    color:white;
    font-family: "Raleway";
    padding:15px 20px;
    border-radius:0 10px 10px 0;
    border:0 none;
    /*font-size: 0.8em;*/
    font-weight:bold;
    margin-left:-4px;
}

/* essai de bouton recherche en flex 
voir https://developer.mozilla.org/fr/docs/Web/CSS/CSS_Flexible_Box_Layout/Typical_Use_Cases_of_Flexbox#les_contr%C3%B4les_de_formulaire
*/
.container-search-flex {
    display: flex;
}

.container-search-flex input[type="text"] {
      flex: 1 1 auto;
}



/* AVERTISSEMENT :
"plus de 500 logements..." 
la version d'icône awesome cerclée (grisée) et "light" est réservé aux comptes Pro
*/

#avertissement {
    margin-top: 0px;
    margin-bottom: 20px;
}

.fa-stack {
    font-size: 0.8em; /* mettre un peu plus fort ? */
}
.fa-stack i {
    vertical-align: middle;
}
.fa-circle {
    color: #f2f2f2;
}
.fa-info {
    color: #0065ff;
}


/* FILTRES */

.filtres {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.titre-filtres {
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
}

.bouton-filtre {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
}

.bouton-filtre-icone {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
}

.bouton-filtre-texte {
    margin: 0 1rem;
}



/* MAIN */

main {
    border: solid 1px yellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#hebergement {
    background-color: lightgray;
    width:68%;
    padding-bottom: 12px;
}

#populaire {
    width: 28%;
}

.article-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.article-container article {
    width: 30%;
    min-width: 250px;
    background-color: white;
    border-radius: 10px;
    margin: 4px auto;
}

.article-container article div.img {
    background-image: url("../img/activites/fort-de-pomegues.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 1024px) {
    #hebergement {
        order: 2;
        width: 100%;
        /* padding ou padding-bottom ? */
    }

    #populaire {
        order: 1;
        width: 100%;
    }

    .article-container article {
        width: 94%;
        margin: 4px auto;
    }
}

/* ACTIVITÉS */



/* FOOTER */

footer {
    background-color: #F2F2F2;
    width: 100%;
}

.footer-colonne {
    display: flex;
    max-width: 100%;
    width: 1440px;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
}

.footer-colonne-largeur {
    width: 30%;
    padding: 2rem 2rem;
}

.footer-liens {
    display: block;
    margin: 1rem 0;
    text-decoration: none;
    color: black;
}

.footer-liens:hover {
    text-decoration: none;
}

@media (max-width: 750px) {
    .footer-colonne {
      flex-direction: column;
      padding: 2rem;
    }
    .footer-colonne-largeur {
      width: 100%;
      padding: 0;
      margin: 1rem 0;
    }
    .footer-colonne-largeur:first-child {
      margin-top: 0;
    }
    .footer-colonne-largeur:last-child {
      margin-bottom: 0;
    }
  }